{% extends "base_generic.html" %}

{% block content %}
  <h1>Instructor Home</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
 
    <button><a href="">Update Profile</a></button><br><br>
    <button><a href="">Add learning plan</a></button><br><br>
    <button><a href="">View Cluster</a></button><br><br>
    <button><a href="">Capture Scores</a></button><br><br>
  
{% endblock %}
